:root{
    font-family: 'Archivo Black', sans-serif;
}

html {
    border: 1px solid black ;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.quizcontainer{
    width: 700px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    }
.quizcontainer p{
    text-align: center;
}

.quizcontainer ul li{
    list-style: none;
    padding: 5px;
    
}
.quizcontainer a{
    text-decoration: none;  
    color: black;
}

button{
    border-radius: 50px;
    background-color: rgb(132, 153, 223);
}

.hide { 
    visibility: hidden;
}
.reveal {
    visibility: visible;
}

.result{
    display: flex;
    flex-direction: column;
}

.result button{
    padding: 10px;
}


<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">

